# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Google Cloud
.gcloudignore

# Mac
.DS_Store

# Large files
*.pdf

# Scripts Temporary/Test Artifacts
scripts/*.json
# Node.js
node_modules/

# clasp
.clasprc.json
